@page
@using Autokool.Pages.Common.Extensions
@model Autokool.Pages.Autokool.Admin.RoleManagerAdminPage

@{
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" id="createForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">ASD</label>
                <input />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
