@using Autokool.Pages.Common.Extensions;
@model Autokool.Pages.Autokool.Admin.RegisteredExamAdminPage

<body>
    @Html.Show(m => m.Item.ID)
    @Html.Show(m => m.Item.ExamID, Model.ExamName(Model.Item.ExamID))
    @Html.Show(m => m.Item.UserName)
</body>
